<h3 class="ui header">
  {{t "forms.i-i-s-shop-employee-e.caption"}}
  {{#unless model.isNew}}
    №
    {{model.number}}
  {{/unless}}
</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.lastName
      class=(if (v-get validationObject "lastName" "isInvalid") "error")
      label=(t "forms.i-i-s-shop-employee-e.lastName-caption")
    }}
    {{flexberry-validationmessage
      error=(v-get validationObject "lastName" "messages")
    }}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.firstName
      class=(if (v-get validationObject "firstName" "isInvalid") "error")
      label=(t "forms.i-i-s-shop-employee-e.firstName-caption")
    }}
    {{flexberry-validationmessage
      error=(v-get validationObject "firstName" "messages")
    }}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.middleName
      class=(if (v-get validationObject "middleName" "isInvalid") "error")
      label=(t "forms.i-i-s-shop-employee-e.middleName-caption")
    }}
    {{flexberry-validationmessage
      error=(v-get validationObject "middleName" "messages")
    }}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.phoneNumber
      class=(if (v-get validationObject "phoneNumber" "isInvalid") "error")
      label=(t "forms.i-i-s-shop-employee-e.phoneNumber-caption")
    }}
    {{flexberry-validationmessage
      error=(v-get validationObject "phoneNumber" "messages")
    }}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.email
      class=(if (v-get validationObject "email" "isInvalid") "error")
      label=(t "forms.i-i-s-shop-employee-e.email-caption")
    }}
    {{flexberry-validationmessage
      error=(v-get validationObject "email" "messages")
    }}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-shop-employee-e.position-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-shop-position-list")
      value=model.position
      readonly=readonly
    }}
    {{flexberry-validationmessage
      error=(v-get validationObject "position" "messages")
    }}
  </div>
</form>